<h1>
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam laborum eligendi debitis incidunt, voluptatibus doloremque laudantium, dolore perferendis odit possimus quasi eos velit ipsum quo iste repellendus vitae minima ab.
</h1>

<button>agregar</button>
<button>Modificar</button>
<button>Aceptar</button>
